*.pkl
clique_graph
*.pdf
*.csv
*.json
*.pyc
*.pyo
*.graph
*.outx
*.prop
*.out
*.*results
*.err
mhrw
urdata
*.txt
!orientation-02-2015-heldout.txt
!orientation-02-2015-test.txt
!orientation-02-2015-train.txt
out.old
out.new

